.container {
  text-align: center;
  background-color: #FFCC99;
}

.container__pic {
}

.container__infos {
}

.infos__name {
}

.infos__bio {
  text-align: right;
}

.infos__list-social {
}

.list-social__social {
}

.social__icon {
}